<form method = "post" action = "/landmarks">
  Landmark Name: <input type = "text" name = "landmark[name]" id = "landmark_name"><br>
  Year completed: <input type = "text" name = "landmark[year_completed]" id = "landmark_year_completed"><br>
  <input type = "submit" value = "create" id = "Create New Landmark" style = "color: blue; background-color: orange; border: 0; font-size: 1.5em;" >
</form>
